body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	padding: 4px;
	background: #ffffff;
	/*background-imagef: url("images/css3-gradient-pattern.png");*/
	
}

#root {
	background: rgb(119, 207, 210);
}

.App {
}

.main_container {
	max-width: 960px;
	margin: auto;
	box-shadow: #000000;
	display: flex;
}

#bar_container {
	flex: 3;
}

.user_container {
	flex: 1;
}

.title {
	font-family: 'Monoton', cursive;
	color: #AC77D2;
	font-size: 72px;
	margin-bottom: 40px;
}

.ref_line {
	border: 1px solid #ffffff;
	height: 53px;
}

.guess_line {
	background: white;
	height: 53px;
}

.input_container {
	font-size: 12px;
	
	
}

.stats_container {
	
}

.stats {
	width: 100%;
}

@media screen and (max-width: 600px) {
	#main_container {
		display: block;
	}
	#bar_container {
		display: block;
	}
	.user_container {
		display: block;
	}
	.input_container {
		font-size: 12px;
	}
	.stats_container {
		
	}
}

td {
	padding: 8px;
}

table {
	color: white;
}

.guess_line {
}

#input {
	background: #5171BB;
	border: none;
	font-size: 30px;
	color: white;
	/*margin-top: 40px;*/
	padding: 4px;
	display: inline-block;
	width: 40px;
	float:left;
}

.input_error_container {
	color: #77DE8E;
}

.guess_list {
	display: inline-block;
	border: 1px solid #000000;
}

.counter {
	display: inline-block;
}

.top_scale, .bottom_scale {
	font-size: 36px;
}

.top_scale .left {
	width: 50%;
	text-align: left;
	display: inline-block;
	color: white;
}

.top_scale .right {
	width: 50%;
	text-align: right;
	display: inline-block;
	color: white;
}

.bottom_scale {
	text-align: right;
	color: white;
}

.bar_container {}