body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	padding: 4px;
	background: #ffffff;
	/*background-imagef: url("images/css3-gradient-pattern.png");*/
	border: 8px solid #17e243;
}

#root {
	background: rgb(119, 207, 210);
}

.App {
	border: 1px solid #ee2424;
}

.main_container {
	max-width: 960px;
	width: 100%;
	margin: auto;
	box-shadow: #000000;
	border: 4px solid #e5e907;
	/*background: #3457A9;*/
}

.title {
	font-family: 'Monoton', cursive;
	color: #AC77D2;
	font-size: 72px;
	margin-bottom: 40px;
}

.record_entry {
	display: inline-block;
	padding: 8px;
	border: 1px solid #000000;
	text-align: center;
}

.record_container {
	text-align: center;
	width: 100%;
}

.ref_line {
	border: 1px solid #ffffff;
	height: 53px;
}

.guess_line {
	background: white;
	height: 53px;
}

.bottom_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.input_container {
	font-size: 12px;
	border: 4px solid #24ee50;
	flex: 2;
}

.stats_container {
	flex: 1;
	background: #cc0000;
}

.stats {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.bottom_container {
		display: block;
	}
	.input_container {
		font-size: 12px;
		border: 4px solid #000000;
	}
	.stats_container {
		background: #cc0000;
	}
}

td {
	padding: 8px;
}


table {
	transition: height 4s;
	color: white;
}

.guess_line {
	transition: width 2s;
}

#input {
	background: #5171BB;
	border: none;
	font-size: 30px;
	color: white;
	/*margin-top: 40px;*/
	padding: 4px;
	display: inline-block;
}

.input_error_container {
	color: #77DE8E;
}

.guess_list {
	display: inline-block;
	border: 1px solid #000000;
}

.counter {
	display: inline-block;
	border: 1px solid #ff0000;
}

.top_scale, .bottom_scale {
	font-size: 36px;
}

.top_scale .left {
	width: 50%;
	text-align: left;
	display: inline-block;
	color: white;
}

.top_scale .right {
	width: 50%;
	text-align: right;
	display: inline-block;
	color: white;
}

.bottom_scale {
	text-align: right;
	color: white;
}